.skills-container {
    transition: 0.5s cubic-bezier(0.01, 0.53, 0.76, 0.98);
    background-color: black;
    padding: 1rem;
    border-top: white solid;
    border-bottom: white solid;
    margin-bottom: 1rem;
    
}

button:focus {
    outline: none;
    background-color: #000000;
}

.show-skills {
    z-index: 1;
    display: flex;
    justify-content: left;
    margin-left: 9rem;
    margin-right: 0;
    color: white;
    border: solid white thin;
}

.skills-cards {
    display: flex;
    justify-content: space-evenly;
}

.skill-card {
    border: solid white;
    color: white;
    width: 16rem;
}

.skill-title {
    background-color: #011c3a;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .show-skills {
        display: flex;
        justify-content: center;
        height: 2rem;
        margin: auto;
        align-items: center;
        font-size: larger;
        padding: 1rem;
        border-radius: 0.5rem;
    }

    .skills-container {
        margin: 1rem;
    }

    .skills-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skill-card {
        border: solid white;
        color: white;
        width: 70%;
        margin-bottom: 1rem;
    }
}