.images {
    display: flex;
    justify-content: space-around;
}

img {
    width: 100%;
    padding: 10px;
}

p {
    border-top: solid thin;
    color: white;
    padding: 2.5rem;
    margin: 10px;
}

.about-me-links {
    display: flex;
    justify-content: space-around;
    
}

.about-me-links > a {
    color: white;
    /* border: solid thin; */
    width: 100%;
}

.test {
    border: none;
}

.about-me-links > a:hover {
    background-color: #a5a1a1;
}

@media screen and (max-width: 600px) {
    img {
        width: 100%;
    }
}