.header-container {
    background-image: url(https://i.imgur.com/lSEcFmi.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#header-title {
    margin: 0;
    
}
