nav {
    display: flex;
    justify-content: space-around;
    margin: 0;
    background-color: black;
}

.social-links {
    display: flex;
    width: 5rem;
    justify-content: space-around;
}

nav a {
    width: inherit;

}

nav a:hover {
    background-color: #737373;
}

