nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    background-color: black;
    height: 100%;
    width: 100%;
}

.social-links {
    display: flex;
    justify-content: space-around;
}

nav div {
    width: 100%;
    border-bottom: solid thin;

}

nav div:hover {
    background-color: #a5a1a1;
}


@media screen and (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        background-color: black;
    }

    .social-links {
        display: flex;
        justify-content: space-evenly;
        
    }

    nav a {
        width: 100%;
        border-bottom: none;
    }
}
