nav {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    margin: 0;
    background-color: black;
    border: solid;
    height: 100%;
    width: 100%;
    grid-area: a;
}

.social-links {
    display: flex;
    justify-content: space-around;
}

nav a {
    width: 100%;

}

nav a:hover {
    background-color: #a5a1a1;
}

