footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    background-color: black;
    align-items: center;
    padding: 1rem;
    color: white;
}

.coffee-button {
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    

}

.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1rem;
}

footer > .social-links {
    display: flex;
    margin: 1rem;
    width: 10rem;
    height: 2rem;
    justify-content: space-evenly;
    
}

footer a {
    width: inherit;
    color: white;
    display: flex;
    justify-content: center;

}

footer a:hover {
    width: inherit;
    border-bottom: 0.1875rem solid white;
    display: flex;
    justify-content: center;

}

footer a:hover {
    /* background-color: #a5a1a1; */
}

