.coffee-button-container {
    display: flex;
}

#buy-button {
    background-color: black;
    font-size: medium;
}

#buy-button:hover {
    background-color: rgb(249, 247, 247);
    color: black;
    font-size: medium;
}

.buy-form {
    display: flex;
    justify-content: center;
}